 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

 body {
         font-family: 'Lato', sans-serif;
         
         text-align: center;
         background-color: #293f50;
         color: white;
 }

 img {
         width: 100%;
 }

 .flex-container {
         display: flex;
         justify-content: space-between;
         width: 90%;
 }